{{ template "header.html" }}
    <div style="padding-left: 5%;">
        <h1>Create New Competition</h1>
        <form method="POST" action="/events">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="name">Event Name: </label>
                    <input required class="form-control" type="text" id="name" name="name" placeholder="Name" value=""/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="sDate">Start Date: </label>
                    <input required class="form-control" type="date" id="sDate"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="eDate">End Date: </label>
                    <input required class="form-control" type="date" id="eDate"/>
                </div>
            </div>
            <label for="disciplines">Disciplines: </label>
            <div class="form-row" style="text-align: center;">                
                <div class="form-group col-md-1">
                    <label for="tri">TRI</label>
                    <input class="form-control" type="checkbox" id="tri"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="trs">TRS</label>
                    <input class="form-control" type="checkbox" id="trs"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="dmt">DMT</label>
                    <input class="form-control" type="checkbox" id="dmt"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="team">Team</label>
                    <input class="form-control" type="checkbox" id="team"/>
                </div>
            </div>
            <label for="agegroups">Age Groups: </label><br>
            <div class="form-row" style="text-align: center;">                
                <div class="form-group col-md-1" style="text-align: left;">
                    <label for="minAge">Minimum Age: </label>
                    <input class="form-control" type="number" placeholder="0" id="minAge"/>
                </div>
                <div class="form-group col-md-1" >
                    <label for="age1">9-12</label>
                    <input class="form-control" type="checkbox" id="age1"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="age2">12-15</label>
                    <input class="form-control" type="checkbox" id="age2"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="age3">15-18</label>
                    <input class="form-control" type="checkbox" id="age2"/>
                </div>
                <div class="form-group col-md-1">
                    <label for="age4">18+</label>
                    <input class="form-control" type="checkbox" id="age4"/>
                </div>
            </div>
            <label for="visibility">Competition Visibility: </label>
            <div class="form-row">                
                <div class="form-group col-md-4">
                    <label for="priv" class="radio-inline"><input type="radio" id="priv" name="vis"/>Private</label>
                    
                    <label for="public" class="radio-inline"><input type="radio" id="public" name="vis"/>Public</label>
                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="logo">Select logo for competition:</label>
                    <input type="image" class="form-control" id="logo"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <input type="submit" class="btn btn-primary" value="Create Event"/>
                </div>
            </div>
        </form>
    </div>
{{ template "footer.html" }}