{{ template "header.html"}}
    <div>
        <h1>Scores for {{ .user.FirstName }} {{ .user.Surname }}</h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="e1">Execution 1: </label>
                    <input required class="form-control" type="number" id="e1" placeholder="E1">
                </div>
                <div class="form-group col-md-2">
                    <label for="e2">Execution 2: </label>
                    <input required class="form-control" type="number" id="e2" placeholder="E2">
                </div>
                <div class="form-group col-md-2">
                    <label for="e1">Execution 3: </label>
                    <input required class="form-control" type="number" id="e3" placeholder="E3">
                </div>
                <div class="form-group col-md-2">
                    <label for="e1">Execution 4: </label>
                    <input required class="form-control" type="number" id="e4" placeholder="E4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="dd">Difficulty: </label>
                    <input required class="form-control" type="number" id="dd" placeholder="DD">
                </div>
                <div class="form-group col-md-2">
                    <label for="tof">Time of Flight: </label>
                    <input class="form-control" type="number" id="tof" placeholder="ToF">
                </div>
                <div class="form-group col-md-2"> 
                    <label for="pen">Penalties: </label>
                    <input class="form-control" type="number" id="pen" placeholder="Penalty">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Submit Scores</button>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Next Competitor</button> 
                </div>
            </div>
        </form>
    </div>
{{template "footer.html"}}