<!DOCTYPE html>
<html>
<head>
    <title>Scoring System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head>

</head>
<body>
    <header>
        <h1><a href="/">Tramp Score</a></h1>
    </header>
    <div>
        <h3><a href="/events">Athlete</a></h3>
        <h3><a href="signin">Club</a></h3>
        <h3><a href="score">Admin</a></h3>
    </div>
</body>
</html>